// .full-height {
//   height: 100vh;
// }

.form-signin {
  width: 530px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.passwordControl {
  z-index: 50;
}
.showPasswordIcon {
  position: absolute;
  top: 10px;
  right: -9%;
  display: flex;
  height: 40px;
  width: 60px;
  justify-content: end;
  align-items: center;
  z-index: -1;
  background-color: #ffffff;
  box-shadow: inset 3px 0px 15px #00000025;
  border-radius: 0px 20px 20px 0px;
  -webkit-border-radius: 0px 20px 20px 0px;
  -moz-border-radius: 0px 20px 20px 0px;
  -ms-border-radius: 0px 20px 20px 0px;
  -o-border-radius: 0px 20px 20px 0px;
}
