<ng-template appPlaceHolder></ng-template>
<div class="d-flex full-height align-items-center">
  <div class="form-signin m-auto">
    @if(isLogin){
    <form [formGroup]="authLoginForm" (ngSubmit)="onSubmit()">
      <div class="w-100 d-flex justify-content-center">
        <img class="mb-4" src="/login.svg" alt="" width="200" height="200" />
      </div>

      <h1 class="h3 mb-3 fw-normal text-center">
        Please {{ isLogin ? "Login" : "Sign-up" }}
      </h1>
      <div class="form-floating my-1">
        <input
          type="email"
          class="form-control"
          id="LoginEmail"
          autocomplete="email"
          placeholder="name@example.com"
          formControlName="email"
          [class]="{
            'is-invalid':
              LoginEmail?.invalid && (LoginEmail?.dirty || LoginEmail?.touched)
          }"
        />
        <label for="LoginEmail">Email address</label>
        @if(LoginEmail?.invalid && LoginEmail?.touched){
        <div class="invalid-feedback">
          @if(LoginEmail?.errors?.['required']){
          <div class="ps-2 text-capitalize">
            * Please enter your email address.
          </div>
          } @if(LoginEmail?.errors?.['invalidEmail']){
          <div class="ps-2 text-capitalize">
            * Please enter a valid email address.
          </div>
          }
        </div>
        }
      </div>
      <div class="form-floating passwordControl mb-2">
        <input
          [type]="showLoginPassword ? 'text' : 'password'"
          class="form-control mb-2"
          id="LoginPassword"
          placeholder="Password"
          formControlName="password"
          #passwordInput
          autocomplete="password"
          [class]="{
            'is-invalid': LoginPassword?.invalid && LoginPassword?.touched
          }"
        />
        <label for="LoginPassword">Password</label>
        <div class="showPasswordIcon p-2">
          <i
            class="fa-solid fa-lg"
            [class]="showLoginPassword ? 'fa-eye' : 'fa-eye-slash'"
            (click)="togglePasswordVisibility('LoginPassword')"
          ></i>
        </div>
        @if(LoginPassword?.invalid && LoginPassword?.touched){
        <div class="invalid-feedback">
          @if(LoginPassword?.errors?.['required']){
          <div class="ps-2 text-capitalize">* Please enter your password.</div>
          } @if(LoginPassword?.errors?.['minlength']){
          <div class="ps-2 text-capitalize">
            * password must be 6 charachters or more..
          </div>
          }
        </div>
        }
      </div>
      <button
        class="btn btn-primary w-100 py-2"
        type="submit"
        [disabled]="!authLoginForm.valid"
      >
        @if (loading) {
        <i class="fa-solid fa-spinner"></i>
        } @else {
        {{ isLogin ? "Login" : "Sign-up" }}
        }
      </button>
      <div class="text-center w-100 mt-4">
        <a
          class="text-decoration-underline"
          style="cursor: pointer"
          (click)="OnToggleAuth()"
          >{{ isLogin ? "Create Account" : "i have already Account" }}</a
        >
      </div>
    </form>
    } @else{
    <form [formGroup]="authSignUpForm" (ngSubmit)="onSubmit()">
      <div class="w-100 d-flex justify-content-center">
        <img class="mb-4" src="/signup.svg" alt="" width="200" height="200" />
      </div>

      <h1 class="h3 mb-3 fw-normal text-center">
        Please {{ isLogin ? "Login" : "Sign-up" }}
      </h1>

      <div class="form-floating mb-1">
        <input
          type="email"
          class="form-control"
          id="SignUpEmail"
          placeholder="name@example.com"
          autocomplete="email"
          formControlName="email"
          [class]="{
            'is-invalid': SignUpEmail?.invalid && SignUpEmail?.touched
          }"
        />
        <label for="SignUpEmail ">Email address</label>
        <div class="invalid-feedback">
          @if(SignUpEmail?.errors?.['required']){
          <div class="ps-2 text-capitalize">
            * Please enter your email address.
          </div>
          } @if(SignUpEmail?.errors?.['invalidEmail']){
          <div class="ps-2 text-capitalize">
            * Please enter a valid email address.
          </div>
          }
        </div>
      </div>
      <div class="form-floating passwordControl mb-2">
        <input
          [type]="showSignUpPassword ? 'text' : 'password'"
          class="form-control mb-2"
          id="SignUpPassword"
          placeholder="Password"
          formControlName="password"
          #passwordInput
          autocomplete="new-password"
          [class]="{
            'is-invalid': SignUpPassword?.invalid && SignUpPassword?.touched
          }"
        />
        <label for="SignUpPassword">Password</label>
        <div class="showPasswordIcon p-2">
          <i
            class="fa-solid fa-lg"
            [class]="showSignUpPassword ? 'fa-eye' : 'fa-eye-slash'"
            (click)="togglePasswordVisibility('SignUpPassword')"
          ></i>
        </div>
        @if(SignUpPassword?.invalid && SignUpPassword?.touched){
        <div class="invalid-feedback">
          @if(SignUpPassword?.errors?.['required']){
          <div class="ps-2 text-capitalize">* Please enter your password.</div>
          } @if(SignUpPassword?.errors?.['minlength']){
          <div class="ps-2 text-capitalize">
            * password must be 6 charachters or more..
          </div>
          }
        </div>
        }
      </div>
      <div class="form-floating passwordControl mb-2">
        <input
          [type]="showSignUpRePassword ? 'text' : 'password'"
          class="form-control mb-2"
          id="SignUpRePassword"
          placeholder="Re-Password"
          formControlName="Repassword"
          #passwordInput
          autocomplete="new-password"
          [class]="{
            'is-invalid': SignUpRePassword?.invalid && SignUpRePassword?.touched
          }"
        />
        <label for="SignUpRePassword ">Re-Password</label>
        <div class="showPasswordIcon p-2">
          <i
            class="fa-solid fa-lg"
            [class]="showSignUpRePassword ? 'fa-eye' : 'fa-eye-slash'"
            (click)="togglePasswordVisibility('SignUpRePassword')"
          ></i>
        </div>
        @if(SignUpRePassword?.invalid && SignUpRePassword?.touched){
        <div class="invalid-feedback">
          @if(SignUpRePassword?.errors?.['required']){
          <div class="ps-2 text-capitalize">* Please enter your password.</div>
          } @if(SignUpRePassword?.errors?.['minlength']){
          <div class="ps-2 text-capitalize">
            * password must be 6 charachters or more..
          </div>
          }@if(SignUpRePassword?.hasError('passwordMismatch')){
          <div class="ps-2 text-capitalize">* password Not Matched</div>
          }
        </div>
        }
      </div>
      <button
        class="btn btn-primary w-100 py-2"
        type="submit"
        [disabled]="!authSignUpForm.valid"
      >
        {{ isLogin ? "Login" : "Sign-up" }}
      </button>
      <div class="text-center w-100 mt-4">
        <a
          class="text-decoration-underline"
          style="cursor: pointer"
          (click)="OnToggleAuth()"
          >{{ isLogin ? "Create Account" : "i have already Account" }}</a
        >
      </div>
    </form>
    }
  </div>
</div>
