.userCard {
  cursor: pointer;
  transition: all 0.2s ease-in-out ;
  -webkit-transition: all 0.2s ease-in-out ;
  -moz-transition: all 0.2s ease-in-out ;
  -ms-transition: all 0.2s ease-in-out ;
  -o-transition: all 0.2s ease-in-out ;
  &:hover
{
    background: #fafafa;
    border: 1px solid #3312ee;
  }
}
.userImg {
  aspect-ratio: 1/1;
}
