<div class="w-100 p-2 bg-primary text-white">
  <a (click)="goBack()">
    <i class="fa fa-arrow-left mx-2 pointer"></i>
    <p class="lead m-0 fw-bold d-inline-block">Users</p>
  </a>
</div>
<section class="vh-100" style="background-color: #f4f5f7">
  <div class="container px-0 py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: 0.5rem">
          <div class="row g-0">
            <div
              class="col-md-4 gradient-custom text-center text-white"
              style="
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
              "
            >
              <img
                src="profile-circle.png"
                alt="Avatar"
                class="img-fluid img-thumbnail my-5 rounded-circle border-2 bg-transparent border-white"
                style="width: 120px"
              />
              <h5>{{ userData?.User_Name }}</h5>
              <p>{{ userData?.gender }}</p>
              <i
                class="far fa-edit mb-5 editIcon rounded-circle"
                (click)="OnClickEdit()"
              ></i>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Information</h6>
                <hr class="mt-0 mb-4" />
                <div class="row pt-1">
                  <div class="col-12 mb-3">
                    <h6>Email</h6>
                    <p class="text-muted">{{ userData?.email }}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Phone</h6>
                    <p class="text-muted">{{ userData?.Phone_Number }}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>gender</h6>
                    <p class="text-muted">{{ userData?.gender }}</p>
                  </div>
                </div>
                <h6>Details</h6>
                <hr class="mt-0 mb-4" />
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Frist Name</h6>
                    <p class="text-muted">{{ userData?.First_Name }}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Last Name</h6>
                    <p class="text-muted">{{ userData?.Last_Name }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
