.main {
  height: 100vh !important;
}
.takePadding {
  padding-left: 270px;
}

.menu-button {
  display: none;
}

.logo {
  height: 40px;
  margin-right: 16px;
}

@media (max-width: 599px) {
  .menu-button {
    display: block;
  }
}

.main-content {
  overflow-y: scroll;
}

.e-sidebar {
  height: 100vh;
  top: 0;
  left: 0;
}
