.sideBar {
  position: relative;
  left: 0;
  top: 0;
  width: 280px;
  height: 100%;
  &.expanded {
    width: 150px;
  }
}
.transColor {
  background-color: transparent !important;
}
.LinkActive {
  width: 100%;
}
.toZindexMenu {
  z-index: 999 !important;
}
