<div class="w-100">
  <div class="w-100 p-2 bg-primary text-white">
    <i class="fa fa-users mx-2 pointer"></i>
    <p class="lead m-0 fw-bold d-inline-block">Users</p>
  </div>
  <div
    class="d-flex px-3 py-2 justify-content-between align-items-center align-content-center bg-body-secondary"
  >
    <p class="m-0">Add User</p>
    <button
      class="btn btn-warning"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
    >
      Add <i class="fa-sharp fa-solid fa-plus"></i>
    </button>
  </div>
  <div class="row p-2 ">
    @for (user of users; track $index) {
    <div class="col col-lg-3 my-2">
      <app-user-card
        [userData]="user"
        (click)="OnClickUser(user.id)"
      ></app-user-card>
    </div>
    }
  </div>
</div>
<app-add-user-modal></app-add-user-modal>
