@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

// @import "../node_modules/ng-cdbangular/assets/scss/cdb.scss";

body {
  width: 100%;
  height: 100vh;
}
.row {
  margin: 0px 0px !important;
}
.pointer {
  cursor: pointer;
}
.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
}
